@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/charter_regular.woff2") format("woff2");
}

/* /* @font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/charter_italic.woff2") format("woff2");
} */

@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/charter_bold.woff2") format("woff2");
}

/* @font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  font-display: swap;
  src: url("../fonts/charter_bold_italic.woff2") format("woff2");
} */ 

:root {
    --grey: #c7c7c7;
    --black: #231f20;
}
body {
  background-color: #f0f0f0;
  color: var(--black);
  font-family: "Charter", serif;
  padding: 0;
  margin: 0;
}

p,
ul {
  max-width: 700px;
  font-size: 18px;
  line-height: 120%;
  margin: 2rem auto;
}

li {
  margin: 1rem auto;
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif;
  margin: 2rem auto;
  max-width: 700px;
}

#top {
    position: fixed;
    top: 0;
   display: flex;
   justify-content: center;
   
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: white;
  border-bottom: 1px solid var(--grey);
}

.top-interior {
    width: 100%;
    /* max-width: calc(1100px + 4rem); */
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
}

.subtitle {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.vertical-divider {
    width: 1px;
    height: 30px;
    border-right: 1px solid var(--grey);
}

#icon {
  width: 170px;
  display: inline-block;
  position: relative;
  margin: 0;
}

img {
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
  display: block;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.blocky {
  display: block;
  height: 150px;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid grey;
  padding: 20px;
  transition: all 0.3s;
}

.blocky:hover {
  background-color: #ebf5ff;
  border: 1px solid black;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
}

a {
  display: inline-block;
}

article {

  margin: 8rem 0;
}
