.App {
  max-width: 600px;
  margin: 0 auto;
}

p {
  margin: 2rem 0;
}

pre,
code {
  border-radius: 4px;
  background-color: #eeeeee;
}

pre {
  padding: 10px 20px;
}
code {
  padding: 0 4px;
}

div {
  margin-top: 4rem;
}
