body {
  background-color: #f0eee9;
}

p,
ul {
  max-width: 600px;
  font-size: 18px;
  margin: 1rem auto;
}

h1,
h2,
h3,
h4 {
  font-size: 200%;
  font-family: sans-serif;
  margin: 2rem auto;
  max-width: 600px;
}

#top {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: sans-serif;
}

#top > span {
  display: inline-block;
  width: 80px;
  bottom: 12px;
  position: absolute;
  padding-left: 5px;
}

#icon {
  width: 85px;
  display: inline-block;
  position: relative;
  margin: 0;
}
img {
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
  display: block;
}

h1 {
  font-size: 3.75rem;
  margin-top: 8rem;
}

.blocky {
  display: block;
  height: 150px;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid grey;
  padding: 20px;
  transition: all 0.3s;
}

.blocky:hover {
  background-color: #ebf5ff;
  border: 1px solid black;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 3rem;
}

a {
  display: inline-block;
}

article {
  margin-bottom: 8rem;
}
